x-star-rating {
    font-family: 'Ionicons';
    font-size: 28px;
    display: inline-flex;
    cursor: pointer;
}

x-star-rating > .star::after {
    content: '\f3ae';
    color: #777;
}

x-star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}

textarea{
    height: 200px;
    width: 90%;
}

.form-group input{
    height: 30px;
}

form input{
    width: 90%;
}